# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Raw and generated data
data/raw/*
data/processed/*
output/tables/*
output/charts/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!output/tables/.gitkeep
!output/charts/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Terraform / AWS
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars
.env
